*{
    margin: 0px;
    padding: 0px;
    border: 0px;

}
html{
    font-size: 62.5%;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;

}
.flexFlow{
    flex-flow: column;
    
}
.container{
    background: rgb(0, 0, 0);
    display: grid;
    grid-template-rows:repeat(6,minmax(100vh,min-content));
    grid-row-gap: 2rem;
}
.main{
    background: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-areas: "left text right";
background-image: url("../homemain.jpeg");
background-size: cover;
background-attachment: fixed;
background-position-x: -25rem; 
}
.left{
    grid-area: left;

}
.text{
    grid-area: text;
    align-items: flex-start;

}
.text h4{
    margin-bottom: 3rem;
    font-size: 3rem;
    letter-spacing: 2px; 
    transform: translateY(-5rem);
    animation: animateman2 2s ease-in-out  ;
    font-family: 'Dancing Script', cursive;
   
    color: rgb(0, 0, 0);
}   
.text h1{
    background: linear-gradient(to right, #111010 0%, #da1b60 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    margin-right: 12rem; 
    animation: animateman2 2s ease-in-out  ;
    transform: translateY(-5rem);    
    font-family: 'Dancing Script', cursive;
    margin-right: 14rem; 
/*new change||||*/
    
}

@keyframes animateman2{
    0%{
        opacity: 0;
        transform: translateY(5rem);
    
    }
    100%{
        opacity: 1;
        transform: translateY(-5rem);
    
    }
}
.button{
    margin-top: 6rem; 
    transform: translateY(-5rem);
    animation: animateman2 2s ease-in-out;

}
.button1{
border: 2px solid black;
font-size: 1.5rem;    
height: 5rem;
width: 22rem;
margin-right: 3rem; 
letter-spacing: 2PX;
font-family: 'Anton', sans-serif;
  
cursor: pointer;
}
.button2{
    border: 2px solid black;
    font-size: 1.5rem;    
  
    font-family: 'Anton', sans-serif;
    height: 5rem;
    width: 22rem;
    letter-spacing: 2PX;
    cursor: pointer;
    
}
.text .button .button1:hover{
    color: white;
    background: black;
} 

.text .button .button2:hover{
    color: white;
    background: black;
} 

.right{
    grid-area: right;
    position: relative;

}
.hamburger{
    width: 8rem;
    height: 8rem;
    /* border: 1px solid black; */
    flex-flow: column;
    position: absolute;
    top: 3%;
    left: calc(100% - 80px);
    align-items: flex-start;
    cursor: pointer;
  
  }
  .hamburger .l{
    width: 40%;
    height: 2px;
    background: black;
    transition: all 300ms ease-in-out;
  
  }
  .hamburger:hover > .l1 {
    transform: translateY(-7px);
  }
  
  .hamburger:hover > .l3 {
    transform: translateY(7px);
  }
  .hamburger .l1 {
    transform: translateY(-5px);
  }
  
  .hamburger .l2 {  
    width: 40%;
  
  }
  
  .hamburger .l3 {
    transform: translateY(5px);
  }
  .icon{
    
    
}
 .common{
    font-size: 3rem;
    cursor: pointer;
    margin-bottom: 3rem; 
    font-size: 3rem;    
    transition: all 600ms ease-in-out;

}   
i:hover{
    color: rgb(212, 57, 135);
}

@media only screen and (max-width:800px){
    html{
        font-size: 40%;
    }
    .text h1{
         margin-left: 8rem; 
        font-size: 3.9rem;

    }
    .text h4{
        margin-left: 8rem; 
        font-size: 4rem;
        margin-top: 8rem; 
    }
    .text .button{
        /* margin-top: 8rem; 
        display: flex;
        flex-flow: column;
        align-items: flex-start; */
        margin-left: 8rem; 
        /* width: 3rem; */
    }

    .text .button .button1{
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        font-size: 1.5rem;
        
    }
    
    .text .button .button2{
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18rem;
        font-size: 1.5rem;
    }
    .right .icon .common{
        margin-bottom: 4rem;
        font-size: 2rem;
    }
    .rightFooter h3{
        font-size: 1rem;
    }
    .rightFooter p{
        font-size: 1.2rem;
    }
    .main .right .icon i{
        font-size:4rem; 
    }

}
.coloumCommon{
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(min-content, 1100px)  minmax(
        1rem,
        1fr
      );
      grid-template-rows: 30fr minmax(70fr, min-content);
      grid-template-areas:
        ". heading ."
        ". content .";
    
}

.heading{
    grid-area: heading;
    flex-flow: column; 
    background: #080808;
    margin-top: 5rem;
    margin-bottom: 4rem; 
}
.heading h6{
    font-size: 2rem;
    margin-top: 4rem; 
    font-family: 'Anton', sans-serif;
    letter-spacing: 3px;
    color: white;
}
.heading h1{
    font-size: 5rem; 
    margin-top: 1rem;
    font-family: 'Anton', sans-serif;
color: white;
    padding-top: 4rem; 
    text-align: center;
}
.headingLine{
        width: 25%;
        height: 2px;
    background: rgb(255, 3, 3);
    opacity: 0.5;
    margin-top: 3rem;
    margin-bottom: 5rem; 
}
.heading p{
    margin-top: 3rem; 
    margin-left:3rem;
    font-family: 'Dancing Script', cursive;

    margin-right: 3rem; 
    font-size: 3rem;
    text-align: center;
    color: white;
    margin-bottom: 4rem; 
}
.content{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
    grid-column-gap: 4rem;
    grid-row-gap: 5rem; 
    padding-top: 5rem; 
    padding-bottom: 9rem;
    transform: translateY(-2rem); 
    animation: content1 6s ease-in-out;
    padding-left: 2.5rem;
    padding-right: 2.5rem;  
}
@keyframes content1{
    0%{
        opacity: 0;
    
        transform: translateY(5rem);
    
    }
    100%{
        transform: translateY(-2rem);
        opacity: 1;
    }
}

  .contentImages{
    grid-area: content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 5rem;
    padding-top: 5rem; 
    padding-bottom: 4rem;
     

  }
  
  .c{
    flex-flow: column;
    background: #2e2b2b;
  }
  .c i{
    font-size: 6rem;
  margin-bottom: 5rem;
    margin-top: 3rem; 
}
.c h1{
    font-size: 6rem;
    margin-bottom: 2rem;
    text-align: center;
    font-family: 'Anton', sans-serif;

    margin-top: 4rem;    
}
    .c p{
        font-size: 3rem;
        margin-bottom: 2rem;
        font-family: 'Anton', sans-serif;

        text-align: center;  
    }
    

.About{
    background: rgb(0, 0, 0);
}
.Services{
    background: rgb(0, 0, 0);
}
.Services .content .c p{
    font-size: 2rem;
}
.Services .content .c h2{
    margin-bottom:  3rem;
    font-size:3rem; 
}

.Work{
    background: rgb(0, 0, 0);
}
.cp img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 2rem;
    
}
  .c1{
    flex-flow: column; 
  }
.Clients{
    background: rgb(0, 0, 0);
    
}
.ct {
    align-items: flex-start;
    padding: 2rem;
    background: #1a1919;       /*/*/
  }
  .Clients .ct i{
      color: white;
  }
  .content .ct p{
      font-size: 2rem;
    text-align: left;
    }
  .content .ct h1{font-size: 2rem;
}
.content .ct i{
    font-size: 5rem;
    transition: all 300ms ease-in-out;
     
}
.Services .content .c p{
    font-family: 'Dancing Script', cursive;
   
}
.content .ct div i{
    font-size: 3rem;
}

.Footer{
    background: rgb(0, 0, 0);
    display: grid; 
    grid-template-columns: 10fr 80fr 10fr;
    grid-template-areas: ". footerMiddle .";
}
.footerMiddle{
    grid-area: footerMiddle;
    display: grid;
    grid-template-columns: 50fr 50fr;
    grid-template-areas: "leftFooter rightFooter";
    color: white;
    }
.rightFooter{
    grid-area: rightFooter;
    flex-flow: column;
    align-items: flex-start;

}
.leftFooter{
    grid-area: leftFooter;
    flex-flow: column;
    align-items: flex-start;
}
.leftFooter h1{
    margin-bottom: 4rem;
    font-size: 5rem; 
    margin-left: 5rem;
    color: #da1b60;   
    font-family: 'Anton', sans-serif;
 
}

.leftFooter p{
    font-size: 2rem;
    margin-left: 5rem;
    margin-right: 5rem;
    font-family: 'Dancing Script', cursive;

}
.leftFooter div{
 margin-top: 5rem; 
   font-size: 1.3rem;
 margin-left: 5rem;
 font-family: 'Anton', sans-serif;

}
.rightFooter h3{
    margin-left: 2rem;
    color: #da1b60;
    font-size: 2rem;
    margin-bottom: 3rem;
    font-family: 'Anton', sans-serif;
 
}
.rightFooter p{
    margin-left: 2rem;
    margin-right: 5rem;
    font-size: 2.1rem;
    font-family: 'Dancing Script', cursive;

}
.rightFooter .site{
    transform: translateY(10.5rem);
    font-size: 1.3rem;
   margin-left: 2rem; 
padding-bottom:5rem; 
font-family: 'Anton', sans-serif;
 
}
.leftFooter .Subscribe{
    border: 2px solid black; 
   height: 4rem;
    width: 13rem;
   background: #da1b60;
    cursor: pointer;
    font-family: 'Anton', sans-serif;
 
}
.leftFooter .Subscribe:hover{
    color: black;
}
@media only screen and (max-width:1100px)
{
    .footerMiddle{
    
        display: grid;
        grid-row-gap: 3rem;
        grid-template-columns:100fr;
        grid-template-rows: 50vh 50vh;
        grid-template-areas: "leftFooter"
                              "rightFooter";
    }
    .leftFooter{
        grid-area: leftFooter;
    }
    .rightFooter{
        grid-area: rightFooter;
    }
    .leftFooter h1{
        font-size: 10rem;
    }
    .leftFooter p{
        font-size: 2.9rem;
    }
    .leftFooter .Subscribe{
        width: 15rem;
        font-size: 2rem; 
    }
    .rightFooter h3{
        font-size: 4rem;
        margin-left: 5rem;
    
    }
    .rightFooter p{
        font-size: 3rem; 
        margin-left: 5rem;
    
    }
    .rightFooter .site{
    
        margin-left: 5rem;
        font-size: 1.89rem;
    }
    html{
        font-size: 45%; 
    }
    .Services .content .c p{
        font-size: 3rem;
    }
    .Services .content .c h2{
        font-size: 
        4rem;
    }
    .Clients .content .c p{
        font-size:  4rem;
    }
    
    .footerMiddle .leftFooter .Subscribe {
        height: 5rem;
        width: 20rem;    
    }

}
@media only screen and (max-width:768px)
{
    html{
        font-size: 30%;
    }
    .text .button1{
        letter-spacing: 1px;
        font-size: 7rem; 
    }
    .text .button2{
        letter-spacing: 1px;
        font-size: 7rem;
    }
    .heading h6{
        font-size: 3rem; 
    }
    .Clients .content  .c p{
        font-size: 4rem;
    }
    .text h1{
        font-size: 9rem; 
    }
    .footerMiddle .leftFooter .Subscribe {
        height: 5rem;
        width: 20rem;    
    }


}
@media only screen and (max-width:420px){
    html{
        font-size: 33%; 
    }
    .text .h4{
       padding-top: 12rem; 
    }
    .text .button{
         margin-top: 3rem; 
        display: flex;
        flex-flow: column;
        align-items: flex-start; 
        margin-left: 8rem; 
         width: 3rem; 
    }
    .content .c p {
        font-size: 3rem;
    }
    .Services .content .c p{
        font-size: 4rem; 
    }
    .main .right i{
        font-size: 22rem; 
    }
.main .text h4{
    font-size: 3rem;
}
.main .text .button .button1{
    width: 25rem;
}
.main .text .button .button2{
    width: 25rem;
}

.main .text .button p{
 font-size: 2rem;
 letter-spacing: 1px; 
}
.Services .content .c p{
    font-size: 3rem; 
}
.About .content .c p{
    font-size: 4rem;
}
.heading h1{
    font-size: 6rem;
}
.heading p{
    font-size: 4rem;
}
.Services .content c p{
    font-size: 16rem;
}
.footerMiddle .rightFooter p{
    font-size: 4rem;
}
.footerMiddle .leftFooter p{
    font-size: 3.3rem;
}
.footerMiddle .leftFooter .Subscribe p{
    font-size: 2rem; 
}

}

@media only screen and (max-width:380px){
    html{
        font-size: 22%;
    }
    .Services .content .c p{
        font-size: 2.6rem;
    }
    .footerMiddle .leftFooter h1{
        font-size: 8rem;
        margin-top: 3rem;  
    }
    .footerMiddle .leftFooter p{
        font-size: 4rem; 
    }
    .main .right .icon i{
        font-size:4rem; 
    }

}




@media only screen and (max-width:330px){
    html{
        font-size: 22%;
    }
    .Services .content .c p{
        font-size: 2.6rem;
    }
    .footerMiddle .leftFooter h1{
        font-size: 5rem;
        margin-top: 3rem;  
    }
    .footerMiddle .leftFooter p{
        font-size: 3rem; 
    }
}
